<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Create an App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <% include navbar-items/nav.ejs %>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> New App</h1>

            <!-- POST FORM -->
            <form action="/newApp" method="post">
                <div class="form-group">
                    <label>Title: </label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Description: </label>
                    <textarea onkeyup="auto_grow(this)" onkeydown="auto_grow(this)" type="text" class="form-control" name="description"></textarea> 
                </div>
                <div class="form-group">
                    <label>Folder name:</label>
                    <input type="text" class="form-control" name="folder_name">
                </div>
                <div class="form-group">
                    <label>Slug:</label>
                    <input type="text" class="form-control" name="slug">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Create</button>
            </form>

            <hr>
        </div>
    </div>
    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>
</body>
</html>
