<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Games</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <% include nav.ejs %>
</head>
<body>
    <div class="col-md-12">
        <div class="container">
            <div class="jumbotron text-justify" style="padding: 5px 25px 20px 25px; display: inline; float: left; width: 100%">
                <% if (user && user.admin == 1) { %>
                        <a href="/newGame" class="btn btn-default btn-sm" style="display: inline; float: right; margin-top: 20px">New Game</a>
                <% } %>
                <h1 style="text-align: center" style="margin: 0 0 20px 0">Games</h1>

                <% for (var i = 0; i < games.length; i++) { %>
                    <a href="/games/<%=games[i].slug%>" class="games_link" style="text-decoration: none; color: black" target="_blank">
                        <div class="col-sm-6">
                            <div class="well">
                                <h3><strong>Title: <strong><%= games[i].title %></h3>
                                <p>
                                    <strong>Description:</strong> <%= games[i].description %><br>
                                </p>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>