<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Technology Basis</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="https://s3-us-west-1.amazonaws.com/technologybasis/coding.png" />
    
    <% include nav.ejs %>
</head>
<body>
    <div class="row">
        <div class="col-md-9">
            <div class="container">
                <div class="jumbotron text-center" style="padding: 5px 25px 20px 25px">
                    <h1 style="margin: 15px 0 20px 0">Home Page</h1>
                    <!-- Show any error messages -->
                    <% if (message != null) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>

                    <p class="text-justify" style="text-indent: 50px">Welcome to Technology Basis! This site will be home to anything related to technology, with an emphasis on tutorial blog posts for programming. As any self-taught programmer is aware, no matter how skilled or smart you are, there will always be a time where you get stuck. And <em>that</em> is where you turn to the community for help. The resources on this website serve as a tiny portion of the programming community on the internet, and are designed specifically to make the solutions to your problems as easily understandable and helpful as possible. In addition to programming solutions, this site will house reviews for technology products, the theory behind certain topics in computer science, and perhaps even some articles that are fun and enlightening to read. Hopefully you will find some aspect of this website to be useful. </p>
                </div>
            </div>
        </div>

        <% include sidebar.ejs %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>