body {
	background-color: #eee;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #252525;
	margin-bottom: 1.5em;
	font-weight: lighter !important;
	line-height: 1.8 !important;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.4;
	color: #353535;
}

textarea {
	resize: none;
	overflow: hidden;
	min-height: 50px;
}

.btn {
	font-family: 'Open Sans';
	font-weight: normal;
}

.navbar-header {
	height: 150px;
}

.nav {
	padding-left: 75px;
	background-color: #0b3954;
	width: 100%;
}

.nav .dropdown {
	padding-right: 60px;
	float: right;
}

.nav a {
	color: white !important;
}

.nav a:hover{
	color: grey !important;
}

.navbar-header a {
	color: white !important;
}

@media(max-width: 767px) {
    .nav {
    	padding-left: 5px;
    	margin: 0 0 0 0;
    }

    .nav .dropdown {
		padding: 0;
		float: none;
	}
}

.dropdown-menu {
	min-width: 140px;
}

.dropdown-menu a {
	color: black !important;
}

#sidebar a {
	text-decoration: none;
	color: #353535;
}

#sidebar a:hover {
	color: #ff6663;
}

.container {
	text-align: center;
	width: 95%;
	padding-top: 0;
	background-color: white;
	border-radius: 8px;
}

.jumbotron {
	background-color: inherit !important;
}

.jumbotron h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.4;
	color: #353535;
}

.text-justify {
	text-align: justify;
}

.entry-title {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}

.entry-title a {
	font-family: "Open Sans", sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.4;
	color: #353535;

}

.entry-title a:hover {
	text-decoration: none;
	color: #ff6663;
}

.entry-media {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 8px;
}

.entry-media .posted-date {
	content: '\f303';
    top: 4px;
}

.entry-summary {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 15px;
}

.entry-summary p {
	text-align: left;
	font-size: 1.1em;
}

.entry-footer {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}

.entry-footer p {
	text-align: left;
	font-size: 1.1em;
}

/* Users Table Styling*/
.users_table {
	width: 100%;
	border: 1px solid black;
	border-radius: 8px;
	border-collapse: separate;
    border-spacing: 0px;
    padding: 0;
}

.users_table tr:nth-child(even) {
	background-color: #eee;
}

.users_table th, tr, td {
	padding: 8px;
	margin: 0;
	text-align: left;
}

.users_table th {
	background-color: #eee;
}

#td-left {
	width: 25%;
	border-radius: 0 0 0 8px;
}

#td-right {
	border-radius: 0 0 8px 0;
}

#th-left {
	border-radius: 8px 0 0 0;
}

#th-right {
	border-radius: 0 8px 0 0;
}

/* Code blocks*/

pre {
	border-radius: 0;
	margin: 0;
}

.codelisting {
	font-family: Georgia, serif;
	border: 1px solid grey;
}

.code-header {
	background-color: #ccc;
}

.description {
	margin-left: 5px;
	font-size: 18px;
	font-family: inherit;
}

.break {
	display: block;
	margin-top: -1.0em;
}

.filepath {
	margin-left: 5px;
	
	font-size: 14px;
}

.profile-pic {
	margin: 5%;
	display: inline-block;
	width: 15%;
}

.profile-header {
	vertical-align: top;
	margin-top: 4.6%;
	display: inline-block;
	width: 60%;
}